body {
	font-family: helvetica, sans-serif, arial;
	font-size: 12px;
	margin: 0;
	padding: 0;
	color:#727274;
}

div {
	font-family: helvetica, sans-serif, arial;
	font-size: 12px;
}

input {
	font-family: helvetica, sans-serif, arial;
	font-size: 12px;
}

textarea {
	font-family: helvetica, sans-serif, arial;
	font-size: 12px;
}

select {
	font-family: helvetica, sans-serif, arial;
	font-size: 12px;
}

button.back {
	font-family: helvetica, sans-serif, arial;
	font-size: 12px;
	border:1px solid #a0a0a0;
	color:#fffff;
	font-weight:bold;
	background-color: #b2b2b2;
	/*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#df969b', endColorstr='#d95a8b'); */
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f1f1f0), to(#b2b2b2));
	background-image: -webkit-linear-gradient(top, #f1f1f0, #b2b2b2);
	background-image:    -moz-linear-gradient(top, #f1f1f0, #b2b2b2);
	background-image:     -ms-linear-gradient(top, #f1f1f0, #b2b2b2);
	background-image:      -o-linear-gradient(top, #f1f1f0, #b2b2b2);
	background-image:         linear-gradient(top, #f1f1f0, #b2b2b2);
	border-radius: 12px;
	-moz-border-radius: 12px;
	-webkit-border-radius: 12px;
	width: 80px;
}

button.back:hover {
	border-color: #d26ca3;
}

button {
	font-family: helvetica, sans-serif, arial;
	font-size: 12px;
	border:1px solid #d4457c;
	color:#ffffff;
	font-weight:bold;
	background-color: #d26ca3;
	/*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#df969b', endColorstr='#d95a8b'); */
    background-image: -webkit-gradient(linear, left top, left bottom, from(#df969b), to(#d26ca3));
    background-image: -webkit-linear-gradient(top, #df969b, #d26ca3);
    background-image:    -moz-linear-gradient(top, #df969b, #d26ca3);
    background-image:     -ms-linear-gradient(top, #df969b, #d26ca3);
    background-image:      -o-linear-gradient(top, #df969b, #d26ca3);
    background-image:         linear-gradient(top, #df969b, #d26ca3);
	border-radius: 12px;
	-moz-border-radius: 12px;
    -webkit-border-radius: 12px;
	width: 80px;
}

button:hover {
	border-color: #9b9b9b;
}

img {
	border:0px;
}

a {
	color:#d26ca3;
	text-decoration: none;
}

a:visited {
	color:#d26ca3;
}
a:active {
	color:#d26ca3;
}
a:hover{
	color:#d26ca3;
}

a.normal{
	color:#727274;
	text-decoration: none;
}

a.normal:visited {
	color:#727274;
}
a.normal:active {
	color:#727274;
}
a.normal:hover{
	color:#727274;
}

.boxcommand {
	margin-bottom:10px;
	text-align:left;
	padding-left:9px;
}
.pink {
	font-family: helvetica, sans-serif, arial;
	font-size: 12px;
	color:#f177ae;
	font-style:italic;
}

.red {
	font-family: helvetica, sans-serif, arial;
	font-size: 12px;
	color:red;
}

.orange {
	font-family: helvetica, sans-serif, arial;
	font-size: 12px;
	color:orange;
}

.green {
	font-family: helvetica, sans-serif, arial;
	font-size: 12px;
	color:green;
}

.boxmain{
	background-color:#ededed;
	border-radius: 10px;
	-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

.boxmenu {
	float:left;
	text-align:left;
	padding-right:3px;
}

.boxmenu2 {
	float:right;
	text-align:right;
	padding-right:3px;
}

a.menu {
	color:#b4b4ce;
	text-decoration: none;
}

a.menu:visited {
	color:#b4b4ce;
	text-decoration: none;
}

a.grid {
	color:#d26ca3;
	text-decoration: none;
}

a.grid:visited {
	color:#d26ca3;
	text-decoration: none;
}


a.report {
	color:#4d4d4d;
	text-decoration: none;
}

a.report:visited {
	color:#4d4d4d;
	text-decoration: none;
}

a.colname {
	color:#FFFFFF;
	text-decoration: none;
}

a.colname:visited {
	color:#FFFFFF;
	text-decoration: none;
}

a.menuselect {
	color:#d26ca3;
	text-decoration: none;
}
a.menuselect:visited{
	color:#d26ca3;
	text-decoration: none;
}


.boxcon{
	clear:both;
	margin-bottom:10px;
	overflow:auto;	
	text-align:left;
}

.boxleft {
	float:left;
	text-align:left;
	padding-left:7px;
	/*background-color:blue;*/
}

.boxright {
	float:right;
	text-align:left;
	/*background-color:red;*/
}



.boxcon1{
	clear:both;
	margin-bottom:5px;
	overflow:auto;	
	text-align:left;
}

.boxleft1 {
	float:left;
	padding:3px 0px 3px 0px;
	text-align:right;
	font-weight:bold;
}

.boxright1 {
	float:right;
	padding:2px 0px 2px 0px;
	text-align:right;
	padding-right:6px;
	width:60px;
	border:1px solid #d1d1d1;
	background-color:#ffffff;
}

.boxright1-1 {
	float:right;
	padding:2px 0px 2px 0px;
	text-align:right;
	padding-right:6px;
	width:60px;
	border:1px solid #d4457c;
	background-color:#f173ac;
	font-weight:bold;
	color:#ffffff;
}

.boxcon2{
	clear:both;
	margin-bottom:5px;
	overflow:auto;	
	text-align:left;
	background-image:url('../images/rightpic.jpg');
	background-repeat: no-repeat;	
	background-position-x: 100%;
	background-position-y: 100%;
	border-radius: 0px 10px 10px 0px;
	-moz-border-radius: 0px 10px 10px 0px;
    -webkit-border-radius: 0px 10px 10px 0px;	
}

.boxleft2 {
	float:left;
	text-align:left;
	padding:25px 0px 10px 20px;
	width:770px;
	/*background-color:blue;*/
}

.boxright2 {
	float:right;
	text-align:left;
	width:210px;
	height:480px;
	/*background-color:red;*/
}

.boxcon3{
	clear:both;
	margin-bottom:5px;
	overflow:auto;	
	text-align:left;
	background-image:url('../images/leftpic.jpg');
	background-repeat: no-repeat;	
	background-position-x: 0%;
	background-position-y: 100%;
	border-radius: 10px 0px 0px 10px;
	-moz-border-radius: 10px 0px 0px 10px;
    -webkit-border-radius: 10px 0px 0px 10px;	
}

.boxleft3 {
	float:left;
	text-align:left;
	width:280px;
	height:480px;
}

.boxright3 {
	float:right;
	text-align:left;
	width:710px;
	padding:25px 10px 10px 0px;
}

.boxcon4{	
	clear:both;
	margin-bottom:5px;
	overflow: auto;
	text-align:left;
	height: 100%;
	padding:25px 0px 10px 20px;
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;	
}



.boxcon5{ /* color code box */
	clear:both;
	overflow:auto;
	background-color:#ffffff;
	padding: 6px 5px 6px 8px;
	border: 1px solid #9b9b9b;
	border-radius: 10px;
	-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

.boxcon5 table tr td{ /* color code box */
	text-align:left;
}

.boxcon6{ /* color code box */
	overflow:auto;
	text-align:center;
	padding: 2px 2px 2px 2px;
	border-bottom: 2px solid #9b9b9b;
}

div.title {
	font-family: helvetica, sans-serif, arial;
	font-size: 16px;
	color:#9b9b9b;
	padding-bottom: 3px;
	margin-bottom:10px;
	margin-right: 25px;
	border-bottom: 1px solid #9b9b9b;
	/*background-color:red;*/
}

img.logo {
	border:0px;
	margin-top: 15px;
	margin-bottom: 15px;
	width:330px;
	height:53px;
}



table.dataview {
	*border-collapse: collapse; /* IE7 and lower */
    border-spacing: 0;
	background-color: #FFFFFF;
    border-color: gray;
    border-radius: 10px;
	-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    box-shadow: 0 0 2px #c8c8c8;         
    -webkit-box-shadow: 0 0 2px #c8c8c8;
    -moz-box-shadow: 0 0 2px #c8c8c8; 
}

table.dataview td, table.dataview th {
    border: none;
    padding: 6px;
	font-weight:normal;
}

table.dataview tr.pinkrow td {
	/*background-color:#f173ac;*/
	background-color:#FBEFEF;
	/*color:#FFFFFF;*/
	font-size: 12px;
} 

table.dataview td {
	font-size: 12px;
} 

table.dataview th {
	color:#FFFFFF;
    background-color: #d26ca3;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#d26ca3), to(#d26ca3));
    background-image: -webkit-linear-gradient(top, #d26ca3, #d26ca3);
    background-image:    -moz-linear-gradient(top, #d26ca3, #d26ca3);
    background-image:     -ms-linear-gradient(top, #d26ca3, #d26ca3);
    background-image:      -o-linear-gradient(top, #d26ca3, #d26ca3);
    background-image:         linear-gradient(top, #d26ca3, #d26ca3);
}

table.dataview th:first-child {
    border-radius: 10px 0 0 0;
	-moz-border-radius: 10px 0 0 0;
    -webkit-border-radius: 10px 0 0 0;
}

table.dataview th:last-child {
    border-radius: 0 10px 0 0;
	-moz-border-radius: 0 10px 0 0;
    -webkit-border-radius: 0 10px 0 0;
}

table.dataview th:only-child{
    border-radius: 10px 10px 0 0;
	-moz-border-radius: 10px 10px 0 0;
    -webkit-border-radius: 10px 10px 0 0;
}

table.dataview tr td:first-child {
	padding-left:12px;
}

table.dataview tr td:last-child {
	padding-right:12px;
}

table.dataview tr th:first-child {
	padding-left:12px;
}

table.dataview tr th:last-child {
	padding-right:12px;
}

table.dataview tr:last-child td:first-child {
    -moz-border-radius: 0 0 0 10px;
    -webkit-border-radius: 0 0 0 10px;
    border-radius: 0 0 0 10px;
}

table.dataview tr:last-child td:last-child {
    -moz-border-radius: 0 0 10px 0;
    -webkit-border-radius: 0 0 10px 0;
    border-radius: 0 0 10px 0;
}

.boxerr1 {
	color:red;
	font-size: 12px;
	clear:both; 
	text-align:left;
	padding-left:10px;
}

.errormessage {
	BORDER-BOTTOM: 1px solid #903; 
	BORDER-TOP: 1px solid #903; 
	PADDING: 2px 0px 2px 0px; 
	MARGIN: 2px 0px 2px 0px; 
	BACKGROUND: #fcc; 
	COLOR: #903;
}
.errormessage  ul{PADDING: 0px 0px 0px 15px; margin: 0px 0px 0px 0px;}
.errormessage  ul li{PADDING: 2px 0px 2px 10px;}

.color00{ /* blank */
	width:8px;
	height:8px;
	border:1px solid black;
}

.color00{ /* Batal */
	background-color:#bd0104;
	width:8px;
	height:8px;
	border:1px solid black;
}

.color01{ /* NewOrder */
	background-color:#fbcac8;
	width:8px;
	height:8px;
	border:1px solid black;
}

.color02{ /* Dalam Process */
	background-color:#90c8f6;
	width:8px;
	height:8px;
	border:1px solid black;
}

.color05{ /* Revisi */
	background-color:#fad95d;
	width:8px;
	height:8px;
	border:1px solid black;
}

.color06{ /* Belum Bayar */
	background-color:#ffff00;
	width:8px;
	height:8px;
	border:1px solid black;
}

.color07{ /* Payment confirmed*/
	background-color:#669955;
	width:8px;
	height:8px;
	border:1px solid black;
}

.color08{ /* Payment accepted */
	background-color:#005926;
	width:8px;
	height:8px;
	border:1px solid black;
}

.color09{ /* Siap Diambil */
	background-color:#33fb96;
	width:8px;
	height:8px;
	border:1px solid black;
}

.color10{ /* Delivered */
	background-color:#afafaf;
	width:8px;
	height:8px;
	border:1px solid black;
}

#cover {
	display:        none;
	position:       absolute;
	left:           0px;
	top:            0px;
	width:          100%;
	height:         100%;
	background:     gray;
	filter:         alpha(Opacity = 50);
	opacity:        0.5;
	-moz-opacity:   0.5;
	-khtml-opacity: 0.5
}

#dialog {
	display:    none;
	left:       30%;
	top:        25%;
	position:   absolute;
	z-index:    100;
	background: white;
	padding:    2px;
	font:       10pt tahoma;
	border:     1px solid gray
}

.boxstyled1 {
	color: #7a7a7a;
    background-color: #FFFFFF;
	text-align:left;
	padding:1px 0px 1px 8px;
	margin:2px 0px 2px 0px;
	box-shadow: 1px 2px 3px #c8c8c8;
	-webkit-box-shadow: 1px 2px 3px #c8c8c8;
    -moz-box-shadow: 1px 2px 3px #c8c8c8; 
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
}

.boxstyled1 div {	
	height:18px;
	padding-top:3px;
	float:left;
	text-align:left;
	width:160px;
}

.boxstyled1 input {
	border:0px;
	height:18px;
	width:160px;
	background-color:#ffffff;
}

.boxstyled1 textarea {
	border:0px;
	width:160px;	
	height:64px;
	resize: none;
}

.boxstyled1 select {
	border:0px solid #FFFFFF;
	height:18px;
	width:160px;	
}

.boxstyled2 {
	width:150px;
	color: #7a7a7a;
    background-color: #FFFFFF;
	text-align:left;
	padding-left:8px;
	padding-top:4px;
	padding-bottom:4px;
	margin-bottom:12px;
	box-shadow: 1px 2px 3px #c8c8c8;
	-webkit-box-shadow: 1px 2px 3px #c8c8c8;
    -moz-box-shadow: 1px 2px 3px #c8c8c8; 
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
}

.boxstyled2 select {
	border:0px solid #FFFFFF;
	height:18px;
	width:140px;	
}


